* {
	/* `otf-font-awesome` is required to be installed for icons */
	font-family: JetBrainsMonoNerdFont, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
	font-size: 12px;
}

window#waybar {
	background-color: #1e1e2e;
	color: #cdd6f4;
	transition-property: background-color;
	transition-duration: .5s;
}

window#waybar.hidden {
	opacity: 0.2;
}

button {
	border: none;
	border-radius: 0;
}

#workspaces button {
	background-color: transparent;
	color: #cdd6f4;
}

#workspaces button:hover {
	font-weight: bold;
}

#workspaces button.focused {
	background-color: #cdd6f4;
	color: #1e1e2e;
}

#workspaces button.urgent {
	background-color: #f38ba8;
}

#clock,
#battery,
#backlight,
#network,
#wireplumber,
#tray,
#idle_inhibitor.activated,
#bluetooth,
#keyboard-state,
#scratchpad,
#custom-power {
	padding: 0 10px;
	background-color: #313244;
	color: #cdd6f4;
}

#battery.critical {
	background-color: #f38ba8;
	color: #313244;
}

#battery.warning {
	background-color: #f9e2af;
	color: #313244;
}

#network,
#battery.charging,
#battery.plugged,
#bluetooth.on {
	background-color: #a6e3a1;
	color: #313244;
}

#bluetooth.connected {
	background-color: #89b4fa;
	color: #313244;
}

#network.disconnected {
	background-color: #f38ba8;
}

#wireplumber.muted {
	background-color: #f38ba8;
	color: #313244;
}

#idle_inhibitor {
	padding: 0 10px;
	background-color: transparent;
	color: #cdd6f4;
}

#tray {
	background-color: transparent;
}

#keyboard-state {
	padding: 0;
}

#keyboard-state>label {
	padding: 0 10px;
}

#keyboard-state>label.locked {
	background: rgba(0, 0, 0, 0.2);
}

#clock {
	min-width: 150px;
}

#network,
#bluetooth {
	min-width: 100px;
}

#battery,
#wireplumber {
	min-width: 50px;
}
