@import url("file:///home/gszekely/.config/waybar/backlight/style.css");
@import url("file:///home/gszekely/.config/waybar/battery/style.css");
@import url("file:///home/gszekely/.config/waybar/bluetooth/style.css");
@import url("file:///home/gszekely/.config/waybar/clock/style.css");
@import url("file:///home/gszekely/.config/waybar/custom/gopsuinfo/style.css");
@import url("file:///home/gszekely/.config/waybar/custom/nordvpn/style.css");
@import url("file:///home/gszekely/.config/waybar/custom/power/style.css");
@import url("file:///home/gszekely/.config/waybar/custom/wireguard/style.css");
@import url("file:///home/gszekely/.config/waybar/idle_inhibitor/style.css");
@import url("file:///home/gszekely/.config/waybar/network/style.css");
@import url("file:///home/gszekely/.config/waybar/tray/style.css");
@import url("file:///home/gszekely/.config/waybar/wireplumber/style.css");
@import url("file:///home/gszekely/.config/waybar/workspaces/style.css");

* {
	border: none;
	border-radius: 15px;
	font-family: JetBrainsMonoNerdFontPropo, "Font Awesome 6 Pro Solid";
	font-size: 13px;
	margin: 2px;
}

#waybar {
	color: #cdd6f4;
	background-color: transparent;
}
