#bluetooth {
	background-color: #313244;
	padding: 0 10px;
	min-width: 60px;
}

#bluetooth.on {
	background-color: #a6e3a1;
	color: #313244;
}

#bluetooth.connected {
	background-color: #89b4fa;
	color: #313244;
}
